click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
Werkzeug==0.14.1
requests==2.5.3
IMDbPY==6.8
google==1.9.3
beautifulsoup4==4.9.1
mysql-connector-python-rf==2.2.2
google-api-python-client==1.6.2
python-telegram-bot
PyPDF2==1.26.0
EbookLib==0.17.1
tika==1.12
camelot-py
opencv-python-headless
google_trans_new



